<table cTable>
  <thead cTableColor="dark">
  <tr>
  <th scope="col">#</th>
  <th scope="col">Fecha</th>
  <th scope="col">Evento</th>
  <th scope="col">Cantidad(ml)</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let register of registers; index  as i ">
      <td>{{1+1}}</td>
      <td>{{register.date}}</td>
      <td>{{register.condition}}</td>
      <td>{{register.amount}}</td>
    </tr>
  <!-- <tr>
  <th scope="row">1</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
  </tr>
  <tr>
  <th scope="row">2</th>
  <td>Jacob</td>
  <td>Thornton</td>
  <td>@fat</td>
  </tr> -->
  </tbody>
  </table>

